/* Main Header */

header {
    height: 100vh;
    padding-top: 2rem;
    overflow: hidden;

}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* CTA */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;

}

/* Socials */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* Image */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 25rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 2rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 1rem 1.5rem 1.5rem 1.5rem;

}

.me img {
    object-fit: cover;
    margin-top: -2rem;
    height: 27rem;
    justify-content: center;
}

/* Scroll Down */

.scroll__down {
    position: absolute;
    right: -2.5rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;

}


@media screen and (max-width: 1024px) {
    header {
        height: 63.5vh;

    }
}

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .me {
        margin-top: -3rem;
    }

    .header__socials {
        flex-direction: row;
        position: relative;
        justify-content: center;
        margin-top: 4rem;

    }

    .header__socials::after {
        display: none;
    }

    .scroll__down {
        display: none;
    }

}